.about-us-list * {
	list-style: none;
	text-decoration: none;
}

.about-us-list {
	margin: 0 50px 0 0;
}

.about-us-button-box {
	display: flex;
	align-items: center;
	justify-content: center;
    gap: 75px;
    padding-left: 60px;
}