.main-page {
	display: flex;
	flex-direction: column;
    align-items: stretch;
	gap: 30px;
}

.main-page-title {
	font-weight: 600;
	font-size: 36px;
}

.main-page-buttons {
	display: flex;
    justify-content: center;
	gap: 100px;
}

.main-page-button {
	display: flex;
	gap: 20px;
}