footer {
    background-color: #0089ff;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

.footer-main-box {
    display: flex;
    gap: 100px;
}

.footer-logo {
    width: 80px;
    height: 80px;
}

.footer-heading,
.footer-subheading {
    color: white;
}

.footer-heading {
    font-size: 26px;
}

.footer-subheading {
    font-size: 20px;
}

.company-box,
.navigation-box,
.contact-us-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-mini-logo {
    width: 40px;
    height: 40px;
}

.contact-us-bottom {
    display: flex;
    gap: 15px;
}