.main-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.main-page-title {
    font-weight: 600;
    font-size: 36px;
}

.main-page-buttons {
    display: flex;
    gap: 40px;
}

.main-page-button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 550;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(45deg,#29dabd,#26a8e4);
    color: white;
    cursor: pointer;
    font-family: "Jost", sans-serif;
}

.main-page-button:hover {
    background-image: none;
    background-color: blue;
    transition: 0.4s;
}