* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	margin: 0;  
	gap: 50px;
}

body {
	display: flex;
	justify-content: center;
	font-family: 'SN pro', sans-serif;
	font-weight: 400;
}

:root {
	--main-black: #333333;
	--sky: #00bfff;
}

button {
	font-family: 'SN Pro', sans-serif;
	font-weight: 400;
	border-radius: 15px;
	padding: 15px 50px;
	font-size: 20px;
	background-image: linear-gradient(45deg, #29dabd, #26a8e4);
	color: white;
	border: none;
}

button:hover {
	cursor: pointer;
	background-image: none;
	background-color: blue;
	transition: 0.4s;
}

li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
