* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	font-family: "Jost", sans-serif;
}